<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
  href="C:\Users\alovega\sign-up-portal-with-authentication\static\style.css">
</head>
  <div class="body">
    <body>
      <div class ="form">
        <form style="border: 3px solid #f1f1f1;">
          <div class="container">
            <h1> Login</h1>
            <div class="imgcontainer">
              <img src="C:\Users\alovega\sign-up-portal-with-authentication\static\images\login2.png"
              alt="Avatar" class="avatar">
            </div>
            <label for="user name"><b>Username</b></label>
            <input type="text" placeholder="username" name="username" required>

            <label for="psw"><b>password</b></label>
            <input type="password" placeholder="Enter password" name="psw" required>

            <button type="submit">Login</button>

            <div class="buttons">
              <button type="cancel" class="cancellogin">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </body>
  </div>
  </html>
