<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" 
  href="C:\Users\alovega\SignUp\static\style.css">
</head>
  <div class="body">
    <body>
      <div class ="form">
        <form>
          <div class="container">
            <h1> Sign Up</h1>
            <p> please fill in form to create an account.</p>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

			
            <label for="phone number"><b>Phone number</b></label>
            <input type="number" placeholder="Phone number" name="Phone no" required>

          
            <label for="user name"><b>Username</b></label>
            <input type="text" placeholder="username" name="username" required>

            <label for="psw"><b>password</b></label>
            <input type="password" placeholder="Enter password" name="psw" required>


            <div class="buttons">
              <button type="button" class="cancelbtn">Cancel</button>
              <button type="submit" class="signupbtn">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </body>
  </div>
  </html>
